.App {
  text-align: center;
  justify-content: center;
  background-color: #90a4ae;
  height: 100%;
  /* background-image: url('../img/image0.png');
  background-repeat: no-repeat; 
  background-size: cover;
  opacity: 0.8; */
  /* margin-top: 0; */
}


