.App {
  text-align: center;
  justify-content: center;
  background-color: #90a4ae;
<<<<<<< HEAD
  height: 100vh;
=======
  height: 100%;
>>>>>>> 4c83730e469981fe5dca346ff223c5ee865ac639
  /* background-image: url('../img/image0.png');
  background-repeat: no-repeat; 
  background-size: cover;
  opacity: 0.8; */
  /* margin-top: 0; */
}


